.place {
    padding-top: 80px;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-areas:
    'title website'
    'image article';
    column-gap: 40px;
  }
  
